* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0d1117;
    color: #e3d1ff; /* texto principal lilás claro */
}

/* ===== HEADER ===== */
header {
    background: #1a1528; /* lilás bem escuro */
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3a2d55;
}

header h1 {
    color: #b592ff;
    font-size: 28px;
}

header nav a {
    margin-left: 25px;
    color: #c7a4ff;
    text-decoration: none;
    transition: 0.2s;
    font-size: 16px;
}

header nav a:hover {
    text-decoration: underline;
    color: #e3d1ff;
}

/* ===== PERFIL ===== */
.perfil {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 25px;        /* reduzido */
    padding: 40px 20px; /* reduzido */
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #4e3a78;
    object-fit: cover;
}

.texto-perfil {
    text-align: center;
    max-width: 700px;
    line-height: 1.6;
}

/* ===== SEÇÕES ===== */
.sobre, 
.repos, 
.contato {
    margin-top: 2.5px;  /* distância entre elas */
    padding: 20px 20px; /* agora mais para cima */
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.sobre h2,
.repos h2,
.contato h2 {
    color: #b592ff;
    margin-bottom: 20px;
}

/* ===== CARDS DE REPO ===== */
.repo-card {
    background: #271c3b;
    border: 1px solid #3f2c5e;
    border-radius: 10px;
    padding: 25px;
    margin: 15px auto;
    max-width: 600px;
    text-align: center;
    transition: 0.2s;
}

.repo-card:hover {
    background: #301f4d;
    border-color: #5f47a1;
}

.repo-card h3 {
    color: #d8c1ff;
    margin-bottom: 8px;
}

.repo-card a {
    color: #c7a4ff;
    text-decoration: none;
    transition: 0.2s;
}

.repo-card a:hover {
    text-decoration: underline;
    color: #e3d1ff;
}

/* ===== LINKS DO GITHUB ===== */
.link-github {
    color: #c7a4ff;
    text-decoration: none;
    transition: 0.2s;
}

.link-github:hover {
    text-decoration: underline;
    color: #e3d1ff;
}

/* ===== DESTAQUE ===== */
.destaque {
    color: #b592ff;
}
